head, body {
  font-family: Arial;
}

table {
    border-collapse: collapse;
    border-style:dotted;

}
table, th, td {
  border: 1px solid #DD6B85;

}

#quantity {
  width:20px;
}


.parent {
  text-align: left;
  padding: 10px 10px 10px 10px;
  margin: 10px 10px 10px 10px;
}

.cell {
  text-align: left;
  padding: 10px 10px 20px 10px;
  margin: 20px 20px 80px 20px;
}


h1 {
  margin-left: auto;
  margin-right: auto;
}

option {
  text-size: 94px;
}

#bodytext01 {
  font-family: Arial;
  font-size: 14px;
  font-weight: bold;
}

input.check {
      background-color: #2196F3;
}

/*Forms*/
.form {
  margin-left: 20px;
}
.menu {
  margin-left: 10px;
}
.title{
  font-family: Arial;
  font-size: 20px;
}




/* General button style */
.btn {
    border: none;
    font-family: 'Lato';
    font-size: inherit;
    color: inherit;
    background: none;
    cursor: pointer;
    display: inline-block;

    text-transform: uppercase;
    letter-spacing: 1px;
    font-weight: 700;
    outline: none;
    position: relative;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}

.btn:after {
    content: '';
    position: absolute;
    z-index: -1;
    -webkit-transition: all 0.3s;
    -moz-transition: all 0.3s;
    transition: all 0.3s;
}


/* Button 2 */
.btn {
    background: #FE7F9C;
    color: #fff;
    height: 40px;
    width: 150px;
    border-radius: 10px;
}

.btn:hover {
    background: #DD6B85;
}

.btn:active {
    background: #DD6B85;
    top: 2px;
}

.btn:before {
    position: absolute;
    height: 100%;
    left: 0;
    top: 0;
    font-size: 100%;
    width: 30px;
}
